@import "tailwindcss";
@source "../../../packages/blog-shared/src";

@keyframes zoom-in-out {
    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }
}

@keyframes zoom-rotate {
    0% {
        transform: scale(1) rotate(0deg);
    }

    50% {
        transform: scale(1.15) rotate(20deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

.star-animate {
    animation: zoom-rotate 2s ease-in-out infinite;
}

.animate-zoom-in-out {
    animation: zoom-in-out 1.5s ease-in-out infinite;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

dialog::backdrop {
    background: rgb(0 0 0 / 0.8);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #3f3f46;
    /* zinc-700 */
    border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #52525b;
    /* zinc-600 */
}

input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
